* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    height: 100%;
}
section {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-wrapper {
    display: flex;
    flex-direction: column;
}
.text-center {
    text-align: center;
}